// Default settings for extensions

// A few colors
$muted-text: $medium-gray !default;
$gray-text: $dark-gray !default;
$invalid-color: #{map-get($foundation-palette, alert)} !default;

// Invalid form inputs and labels
$invalid-label-text-color: $invalid-color !default;

$invalid-input-border: 1px solid $invalid-color !default;
$invalid-input-background-color: $input-background !default;
$invalid-input-shadow: $input-shadow !default;
$invalid-input-text-color: $invalid-color !default;

$invalid-input-border-focus: 1px solid $invalid-color !default;
$invalid-input-background-color-focus: $input-background-focus !default;
$invalid-input-shadow-focus: $input-shadow-focus !default;

$invalid-input-placeholder-color: $input-placeholder-color !default;

$invalid-input-background-disabled: $input-background-disabled !default;

//Small and large callout paddings are currently hardcoded in Foundation 6.4.3
$callout-padding-small: 0.5rem !default;
$callout-padding-large: 3rem !default;