// Default settings for extensions

// A few colors
$muted-text: $medium-gray !default;
$gray-text: $dark-gray !default;
$invalid-color: #{map-get($foundation-palette, alert)} !default;

// Invalid form inputs and labels
$invalid-label-text-color: $invalid-color !default;

$invalid-input-border: 1px solid $invalid-color !default;
$invalid-input-background-color: $input-background !default;
$invalid-input-shadow: $input-shadow !default;
$invalid-input-text-color: $invalid-color !default;

$invalid-input-border-focus: 1px solid $invalid-color !default;
$invalid-input-background-color-focus: $input-background-focus !default;
$invalid-input-shadow-focus: $input-shadow-focus !default;

$invalid-input-placeholder-color: $input-placeholder-color !default;

$invalid-input-background-disabled: $input-background-disabled !default;

// Small and large callout paddings are hard-coded in Foundation 6.5.3
// This map can be removed when this is released:
// https://github.com/zurb/foundation-sites/commit/6baec0afed5a00459e8c2b809d59a181536eaabd
$callout-sizes: (
  small: .5rem,
  default: 1rem,
  large: 3rem,
) !default;
