
@mixin callout-titlebar-adjust($padding) {
  $margin-offset: $padding * -1;

  > :first-child {
    &.title-bar {
      margin: {
        bottom: $padding;
        left: $margin-offset;
        right: $margin-offset;
        top: $margin-offset;
      }
    }
  }
}

@mixin foundation-ext-callout-titlebar {
  .callout {
    @include callout-titlebar-adjust(map-get($callout-sizes, default));

    @each $size, $padding in map-remove($callout-sizes, default) {
      &.#{$size} {
        @include callout-titlebar-adjust($padding);
      }
    }
  }
}
